{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}
{% block bodyheadingstyle %}{% endblock %}
{% block body %}
<div class="container featured-area-default padding-30">
    <div class="row">
        <div class="col-md-12 padding-20">
            <div class="row">
    <!-- ARTICLE  -->
    <div class="card card-default col-12">
        <div class="article-heading margin-bottom-5">
            <a href="#"><i class="fa fa-pencil-square-o"></i> {{ article.name }}</a>
        </div>
        <div class="article-info">
            <div class="art-date"><a href="#"><i class="fa fa-calendar-o"></i> {{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</a></div>
            <div class="art-category"><a href="#"><i class="fa fa-folder"></i> {% for tag in article.getTagid() %} {% if tag.main %}{{  tag.name }} {% endif %}{% endfor %}</a></div>
            <div class="art-comments"><a href="#"><i class="fa fa-comments-o"></i> 4 Comments </a></div>
        </div>
        <div class="article-content">
            <p>
                    {{ article.workflow }}
            </p>
            <p>
                    {{ article.solution }}
            </p>
            <p>
                    {{ article.errormessage }}
            </p>
        </div>
        <div class="article-content">
            <div class="article-tags">
                <b>Tags:</b>
                {% for tag in article.getTagid() %}
                <a href="{{ path('tag_show', {'id': tag.id}) }}" class="btn btn-outline-secondary btn-sm">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        <hr class="style-three">
        <div class="article-feedback">
            <h2><small>Was This Article Helpful?</small></h2>
            <button type="button" class="btn btn-success btn-o btn-wide"><i class="fa fa-thumbs-o-up"></i> Yes</button>
            <button type="button" class="btn btn-danger btn-o btn-wide">No <i class="fa fa-thumbs-o-down"></i></button>
        </div>
    </div>
    <!-- END ARTICLE -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
